.home__category > h1 {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.movieCardss {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  overflow-y: hidden;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.next-icon {
  position: relative;
  top: 30%;
  color: #03203c;
  font-size: 4rem !important;
}
