.movieCard {
  display: flex;
  margin-left: 20px;
  padding: 10px;
  max-width: 10rem;
}

.movieCard__details {
  display: flex;
  flex-direction: column;
}

.movieCard__details img {
  width: 10rem;
  height: 15rem;
  border-radius: 15px;
  cursor: pointer;
}

.movieCard:hover {
  border-radius: 15px;
  transform: scale(1.05);
  transition: smooth;
}

.movieCard__bookmark {
  display: flex;
  margin-top: 0.6rem;
  justify-content: space-between;
  cursor: pointer;
}

.movieCard__bookmark p {
  font-weight: bold;
}
