.movieCard {
  display: flex;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px;
  /* width: 12rem;
  height: 17rem; */
  max-width: 10rem;
  /* justify-content: center; */
}

.movieCard__details {
  display: flex;
  flex-direction: column;
}

.movieCard__details > img {
  width: 10rem;
  height: 15rem;
  border-radius: 15px;
}

.movieCard:hover {
  border-radius: 15px;
  transform: scale(1.05);
  transition: smooth;
}

.movieCard__bookmark {
  display: flex;
  margin-top: 0.6rem;
  justify-content: space-between;
}

.movieCard__bookmark > p {
  font-weight: bold;
}
