.searchMovieCard {
  display: flex;
  padding: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.searchMovieCard__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 2rem;
}

.posterImage {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  cursor: pointer;
}

.searchMovieCard:hover {
  border-radius: 15px;
  transform: scale(1.05);
  transition: smooth;
}

.searchMovieCard__bookmark {
  display: flex;
  margin-top: 0.6rem;
  justify-content: space-between;
  cursor: pointer;
}

.movie__title {
  font-weight: bold;
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 400px) {
  .searchMovieCard__details {
    margin-right: 1rem;
  }
}
